@import "../../../resources/sass/variables.scss";
.navbar-left {
  min-width: 50px;
  max-width: 50px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 72px;
  left: 0;
  overflow-x: hidden;
  padding-top: 65px;
  background: $brand-background;
}