@import "../../../../resources/sass/variables.scss";
.card {
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 5px 10px 0 rgba(0,0,0,.05);
  .btn-primary {
    font-size: 0.75rem;
    border-radius: 0.2rem;
    &.red {
      margin-right: 2px;
      background-color: $brand-red;
      border-color: $brand-red;
    }
    &.orange {
      background-color: $brand-orange;
      border-color: $brand-orange;
    }
    &.blue {
      margin-right: 2px;
      background-color: $brand-blue;
      border-color: $brand-blue;
    }
  }
}